@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@300;400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  /* background-color: #fff; */
  background-color: #004aad;
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
}
.container{
  max-width: 100%;
  background-color: #004aad;
}
#navbar{
  display: flex;
  justify-content: space-between;
  padding: 40px; 
  padding-bottom: 20px;
  /* background-color: #004aad; */
}

.list{
  display: flex;
  align-items: center;
}
.list li{
  list-style: none;
  padding-right: 40px;
  color: #fff;
  font-size: 14px;
}
.list li a{
  text-decoration: none;
  color: #fff;
}
.list li a:hover{
  color: #fe6601;
}
.btn{
  background: #fe6601;
  padding: 8px;
  border-radius: 18px;
  color: #fff;
  font-weight: 500;
}
.dropdown-menu{
  background-color: #fe6601;
}
.dropdown-list li{
  color: white;
}
/*-----------------------------------------------------End of Navbar------------------------------------------------------------------------*/
.container2{
  display: flex;
  justify-content: space-between;
  margin: 40px;
}

h1{
  font-size: 200px;
  color: #fff;
  margin-left: 40px;
  font-weight: bolder;
  opacity: 1;
}
.header-text{
  color: #fff;
  font-size: 16px;
  line-height: 2rem;
  margin-right: 40px;
  margin-left: 40px;
}
.home-img{
  width: 50%;
  height: 50%;
  border-radius: 70%;
  margin-right: 40px;
}

.blockqoute{
  /* background: #189AB4; */
  background: #fff;
  margin: 150px 0px 50px 0px;
  color:#1d5191;
  line-height: 2rem;
}
.blockqoute p{
  margin-left: 60px;
  margin-right: 60px;
}
.block-text{
  padding-top: 50px;
  margin-left: 60px;
}
.block-list{
  margin-left: 100px;
  margin-right: 100px;
}
/* .container2{
  /* background-image: url('Images/graph-g649654a53_1920.jpg'); */
  /* background-position: center;
  opacity: 0.5;
}  */

  /* color: #1d5191; */
 /* .container2{
  height: 80vh;
  max-width: 100%;
  background-image: url('Images/graph-g649654a53_1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0px;
  padding-left:0px;
  overflow: hidden;
  background-color: #004aad;
} */ 