@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Poppins:wght@300;400;500;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* #container{
  height: 600px;
  padding: 40px;
  width: 100%;
  align-items: center;
} */
p{
  line-height: 2rem;
  font-weight: 500;
}
body{
  background-color: #fff;
  /* background-color: #004aad; */
  font-family: 'Lato', sans-serif;
  font-family: 'Poppins', sans-serif;
  max-width: 100%;
  color:#1d5191;
}
.container{
  top: 0;
  max-width: 100%;
  background-color: #004aad;
  position: fixed;
  z-index: 1;
}
#navbar{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 40px; 
  padding-bottom: 20px;
  align-items: center;
  /* background-color: #004aad; */
}
.menu{
  color: #fe6601;
  font-size: 22px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.toggle{
  margin-left: 10px;
}
.close-bar{
  margin-left: 10px;
}
.menu-close{
  color: #fe6601;
  font-size: 20px;
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  
}
.list{
  background-color: #004aad;
  display: none;
  align-items: center;
  height: 100vh;
  position: fixed;
  width: 40%;
  right: 0;
  top: 40px;
}
.list li{
  list-style: none;
  padding-right: 40px;
  color: #fff;
  font-size: 24px;
  display: block;
  margin-top: 80px;
}
.list li a{
  text-decoration: none;
  color: #fff;
}
.list li a:hover{
  color: #fe6601;
}
.btn{
  margin-top: 80px;
  background: #fe6601;
  padding: 8px;
  border-radius: 18px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  width: 50%;
  height: 50px;
  border: none;
}
.dropdown-menu{
  background-color: #fe6601;
}
.dropdown-list li{
  color: white;
}
/*-----------------------------------------------------End of Navbar------------------------------------------------------------------------*/
.container2{
  height: 100vh;
  max-width: 100%;
  background-image: url('Images/homepage-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0px;
  padding-left:0px;
  overflow: hidden;
}
.background{
  margin-top: 220px;

}
.header{
  margin-top:80px;
  font-size: 200px;
  color: #004aad;
  margin-left: 50px;
  font-weight: bolder;
}
.header-text{
  color: #004aad;
  font-size: 18px;
  line-height: 2rem;
  margin-right: 50%;
  margin-left: 50px;
  font-weight: 500;
}
.little{
  color:#fe6601;
}
/*-----------------------------------------------MAIN-----------------------------------------------*/
.blockqoute{
  display: flex;
  /* background: #189AB4; */
  background: #fff;
  margin: 50px 0px 0px 0px;
  padding-top: 50px;
  color:#1d5191;
  line-height: 2rem;
  flex-direction: row;
}
.arrow{
  height: 30px;
  /* outline-color:#fe6601; */
}
.blockqoute p{
  margin-left: 60px;
  margin-right: 60px;
}
.block-text{
  margin-left: 60px;
}
.block-list{
  font-weight: 500;
  margin-left: 100px;
  margin-right: 100px;
}

/*----------------------------------------------------Highlights--------------------------------------------*/
.highlight-header{
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 100px;
}
h3{
  font-weight: 600;
}
.hg-activities{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.hg-intro{
  padding-right: 20%;
}
.hg-intro1{
  padding-left: 20%;
}
.count{
  background-color: #fe6601;
  width: 100%;
  margin-right: -50px;
  height: 300px;
  padding: 50px;
  font-size: 60px;
  font-weight: 700;
  color: #fff;
}
.increase{
  font-size: 14px;
}
.hg-image1{
  margin-top: 0px;
  top: 0;
}
.hg-images{
  height: 300px;
  width:400px;
}
.hg-image2{
  width: 300px;
}
/* .highlight-section div{
  width: 50%;
  padding: 20px;
} */
.btn-link{
  color:#fff;
  text-align: right;
}





 /*------------------------------Footer------------------------------------------------------------------------*/
 #footer{
  /* top: 0; */
   /* background: #281e32; */
   background-color: #004aad;
   /* background: #166f88; */
   color: #fff;
   height: 100%;
   width: 100%;
   text-align: center;
   padding-bottom: 10px;
   /* margin-top: 400px; */

 }
 .footer-logo{
  width: 200px;
  margin-right: 15px;
 }
 .footer{
   padding-top: 50px;
   display: flex;
   justify-content: space-between;
   margin-right: 40px;
   margin-left: 40px;
   margin-bottom: 40px;
 }
 
 .footer-text h5{
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 10px;
 }
 .footer-text a{
  font-size: 12px;
  margin-bottom: 15px;
  text-decoration: none;
  color: #fff;
 }
 .footer-text{
  padding: 5px;
   margin-left: 20px;
   text-align: left;
   align-items: center;
   margin-right: 20px;
 }

 .social-media-icons img{
  width: 40px;
  height: 40px;
  margin: auto;
  margin-right: 15px;
  padding: 7px;
  margin-bottom: 20px;
  background: #fff;
  border-radius: 20px;
  
}
 span.copyright{
   text-align: center;
   width: 100%;  
 }
 .show-details{
  display: none;
  padding: 20px;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  background: #0A3465;
  z-index: 9;
  right: 0;
  overflow-y: hidden;
  overflow-x: hidden;
 }
 .donation-tab{
  margin: auto;
  width: 50%;
  height: 50%;
  text-align: center;
 }
 .donation-tab h5{
  text-align: left;
  padding: 10px;
 }
 #show-div p{
  padding: 10px;
  margin: 0px;
 }

 .donate{
  background: #fe6601;
  padding: 6px;
  width: 100px;
  color:#fff;
  font-weight: 600;
  border-radius: 10px;
  margin-bottom: 10px;
  border: none;
 }
 .donate:hover{
  background-color: #fff;
  color:#1d5191;
}
 .show-details p{
  padding: 20px;
  font-size: 15px;
 } 

 /* .container2{
  background-image: url('Images/BG.png');
  background-position: center;
   background-repeat: no-repeat;
  height: 100vh;
  max-width: 100%;
  margin: 0px;
}  */

  /* color: #1d5191; */
 /* .container2{
  height: 80vh;
  max-width: 100%;
  background-image: url('Images/graph-g649654a53_1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: 0;
  left: 0px;
  padding-left:0px;
  overflow: hidden;
  background-color: #004aad;
} */ 

/*-------------------------------2022------------------------------------------*/
main{
  position: relative;
  margin: 50px;
  max-width: 100%;

}
.introduction{
  margin-left:auto;
  font-size: 40px;
  color:unset;
}
.bi-annual{
  font-size: 24px;
}
h2{
  margin-top: 20px;
  font-weight: 900;
}
.intro-text{
  line-height: 2.5em;
  font-size:18px;
  margin-top: 20px;
}
#resident, #container, #resident-noncoding, #gender, #total{
  padding: 100px;
  width: 100%;
  height: 600px;
}

@media screen and (max-width: 767px){
  body{
    max-width: 600px;
  }
  .container{
    min-width:100%;
    z-index: 9;
    }
  #navbar{
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 0px;
    height: 50px;
    min-width: 100%;
    z-index: 9;
    justify-content: flex-start;
    align-items: center;
  }
  .logo{
    margin-left: 10px;
    height: 40px;
    width: 120px;
  }
  .menu{
    margin-top: 15px;
    font-size: 20px;
    margin-left: 70px;
  }
.menu-close{
  margin-top: 20px;
  justify-content: flex-start;
}
  .list{
    width:100%;
    height: 80vh;
    top: 10px;
  }
  .list li{
    font-size: 14px;
  }
  .btn{
    height: 30px;
    width: 30%;
    font-size: 12px;
  }
  .container2{
   background-size: 500px;
   top: 50;
   margin-bottom: -350px;
  }
  .background{
    margin-top: 70px;
    margin-bottom: 0px;
  }
  .header{
    margin-top: 30px;
    font-size: 45px;
    margin-left: 20px;
    margin-bottom: 0px;
    margin-right: 0px;
  }
  .header-text{
    font-weight: 700;
    font-size: 10px;
    line-height: 1rem;
    margin-right: 20%;
    margin-left: 20px;
  }
  main{
    top: 0;
    right: 0;
    z-index: 0;
    position: relative;
  }
  .blockqoute{
    flex-direction: column-reverse;
    padding-top: 0px;
    margin-top: 0px;
    width: 100%;
    position: relative;
  
  }
  .blockqoute-img{
    height: 300px;

  }
  .block-text{
    margin-left: 0px;
    margin-right: 20px;
    text-align: center;
    font-size: 20px ;
    margin-top: 0px;

  }
  .blockqoute p{
    margin:0px;
    font-size: 14px;
  }
  .block-list{
    margin: 0px;
  }

  .highlight-header{
    margin-top: 50px;
  }
  h2, h3{
    font-size: 20px;
  }
  .hg-activities{
    flex-direction: column;
    margin-bottom: 40px;
  }
  .hg-intro{
    padding: 0px;
  }
  .hg-image1{
    width: 280px;
  }
  .graph{
    width: 280px;
  }
  .hg-images{
    width: 280px;
    height: 200px;
  }
  
}